<?xml version="1.0" ?>

<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <display-name>WebConfigure</display-name>
    <description>Remote Relay Monitoring and Configuration Tool</description>

    <servlet>
      <servlet-name>action</servlet-name>
      <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
      <init-param>
        <param-name>debug</param-name>
        <param-value>2</param-value>
      </init-param>
      <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/struts-config.xml</param-value>
      </init-param>
      <init-param>
        <param-name>application</param-name>
        <param-value>ApplicationResources</param-value>
      </init-param>
      <init-param>
        <param-name>detail</param-name>
        <param-value>2</param-value>
      </init-param>
      <init-param>
        <param-name>validate</param-name>
        <param-value>true</param-value>
      </init-param>
      <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>WebConfigure-init</servlet-name>
      <servlet-class>net.rim.webconfigure.monitor.ThreadManager</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>action</servlet-name>
      <url-pattern>*.do</url-pattern>
    </servlet-mapping>    

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
      <error-code>403</error-code>
      <location>/login-error.jsp</location>
    </error-page>

    <taglib>
        <taglib-uri>/wclib</taglib-uri>
        <taglib-location>/WEB-INF/webconfigure.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean-el.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean-el.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-html-el.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html-el.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic-el.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic-el.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/c.tld</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>

    <!-- Define access rules for the entire site. -->
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>General</web-resource-name>
        <description>All resources on the site</description>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name> CN=bbeunoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=bbapnoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=bbnanoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=RLY_SES,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=OTA,OU=OpsTools,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_IENG,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_DEV,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>

        <role-name> CN=ETS,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=webconfigure_readwrite,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=POSM,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=ITIC,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=LA_Public_Safety_Ops,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=LA_Prod_Support,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=webconfigure_rdonly,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_MGMT,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_SM,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BTS_Senior_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=Blackberry_Premium_Support_Intermediates,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BPTS_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BCTS_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BTS_Principal_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
      </auth-constraint>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

    <!-- Define access rules for the secure actions. -->
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Secure</web-resource-name>
        <description>Secure actions</description>
        <url-pattern>/secure/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name> CN=bbeunoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=bbapnoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=bbnanoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=RLY_SES,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=OTA,OU=OpsTools,OU=BBOps,DC=ad0,DC=blackberry </role-name>
      </auth-constraint>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

    <!-- Tell the server to use form-based authentication. -->
    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>WebConfigure</realm-name>
    </login-config>

    <!-- Define security roles. -->
    <security-role>
      <description>Security roles</description>
        <role-name> CN=bbeunoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=bbapnoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=bbnanoc,OU=HKL,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=RLY_SES,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>
	<role-name> CN=OTA,OU=OpsTools,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_IENG,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_DEV,OU=Relay,OU=BBOps,DC=ad0,DC=blackberry </role-name>

        <role-name> CN=ETS,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=webconfigure_readwrite,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=POSM,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=ITIC,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=LA_Public_Safety_Ops,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=LA_Prod_Support,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=webconfigure_rdonly,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_MGMT,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=RLY_SM,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BTS_Senior_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=Blackberry_Premium_Support_Intermediates,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BPTS_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BCTS_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
        <role-name> CN=BTS_Principal_Analysts,OU=workaround,OU=BBOps,DC=ad0,DC=blackberry </role-name>
    </security-role>


</web-app>
